body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sudoku-board {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(4, 50px);
    gap: 1px;
}

.sudoku-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #ccc;
}

.sudoku-cell input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: none;
}

.check-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #ccc;
}

.check-cell .check-n {
    color: red;
    text-align: center;
    padding: 0 5px;
}

.check-cell .check-h {
    color: green;
    text-align: center;
    padding: 0 5px;
}

#new-game {
    margin-top: 20px;
}

#check-solution {
    margin-top: 10px;
}
